<footer>
    <div class="contenedor-footer">
        <div class="footer-logo">
            <img src="/images/logo.svg" alt="" width="150px">
        </div>
        <div class="extra">
            <ul>
                <li><a href="/terminos-condiciones">Términos y Condiciones</a></li>
                <li><a href="/politica-cookies">Política de Cookies</a></li>
                <li><a href="/politica-privacidad">Política de Privacidad</a></li>
            </ul>
        </div>
        <nav class="iconos-footer">
            <ul>
                <div class="fb">
                    <a href="https://www.facebook.com/dtech.becommerce/" target="__blank">
                        <i class="fab fa-facebook"></i>
                    </a>
                </div>
                <div class="insta">
                    <a href="https://www.instagram.com/becommercedtech/" target="__blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
                <div class="twitter">
                    <a href="https://twitter.com/DtechBe" target="__blank">
                        <i class="fab fa-twitter"></i>
                    </a>
                </div>
            </ul>
        </nav>
    </div>
    <div class="copyright"> @copyright 2021 - dtech.com.ar
    </div>
</footer>
</body>

</html>