* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: #fff;
    text-decoration: none;
    font-size: 17px;
}

.conteiner {
    display: flex;
    justify-content: space-around;
}
.contenedor-titulo {
    background-image: url(...\images\banner-productos.jpg);
    background-size: contain;  
    background-attachment: fixed;  
    display: flex;
    justify-items: center;
    justify-content: center;
}

.contenedor-producto {
    background-image: url(.../images/productop.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-items: auto;
    justify-content: center;
    padding-top: 20px;
    height: 100%;
    width: 100%;
}

.contenido-producto {
    background-color: #c73333de;
    width: 250px;
    height: 100px;
    border: solid 1px #c7333354;
    border-radius: 25px;
    margin-bottom: 50px;
    z-index: 1;
}

.titulo-producto {
    color: #2C2C2C;
    text-align: center;
    margin-top: 12px;
}


.contenedor-producto1 {
    background-image: url();
    background-size: contain;
    background-attachment: fixed;
    display: flex;
    justify-items: flex-start;
    justify-content: flex-start;
    padding-top: 20px;
    height: 100%;
    width: 100%;
}
.contenido-producto1 {
    background-color: #c73333de;
    width: 250px;
    height: 100px;
    border: solid 1px #c7333354;
    border-radius: 25px;
    margin-bottom: 50px;
    z-index: 1;
}
.titulo-producto1 {
    color: #2C2C2C;
    text-align: center;
    margin-top: 12px;
}
.contenedor-producto2 {
    background-image: url();
    background-size: contain;
    background-attachment: fixed;
    display: flex;
    justify-items: center;
    justify-content: center;
    padding-top: 0px;
    height: 100%;
    width: 100%
}
.contenido-producto2 {
    background-color: #c73333de;
    width: 250px;
    height: 100px;
    border: solid 1px #c7333354;
    border-radius: 25px;
    margin-bottom: 50px;
    z-index: 1;
}
.titulo-producto2 {
    color: #2C2C2C;
    text-align: center;
    margin-top: 12px;
}
.contenedor-producto3 {
    background-image: url();
    background-size: contain;
    background-attachment: fixed;
    display: flex;
    justify-items:flex-end;
    justify-content: flex-end;
    padding-top: 0px;
    height: 100%;
    width: 100%;
}
.contenido-producto3 {
    background-color: #c73333de;
    width: 250px;
    height: 100px;
    border: solid 1px #c7333354;
    border-radius: 25px;
    margin-bottom: 50px;
    z-index: 1;
}
.titulo-producto3 {
    color: #2C2C2C;
    text-align: center;
    margin-top: 12px;
}