* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: #fff;
    text-decoration: none;
    font-size: 17px;
}

.contenedor-producto {
    background-image: url(\images\banner-productos.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-items: auto;
    justify-content: center;
    padding-top: 20px;
    height: 100%;
    width: 100%;
}

.contenido-producto {
    background-color: #c73333de;
    width: 250px;
    height: 100px;
    border: solid 1px #c7333354;
    border-radius: 25px;
    margin-bottom: 50px;
    z-index: 1;
}

.titulo-producto {
    color: #2C2C2C;
    text-align: center;
    margin-top: 12px;
}


.contenedor-producto1 {
    background-image: url();
    background-size: contain;
    background-attachment: fixed;
    display: flex;
    justify-items: center;
    justify-content: center;
    padding-top: 20px;
    height: 100%;
    width: 100%;
}
.contenedor-producto2 {
    background-image: url();
    background-size: contain;
    background-attachment: fixed;
    display: flex;
    justify-items: center;
    justify-content: center;
    padding-top: 20px;
    height: 33%;
    width: 35%;
}
.contenedor-producto3 {
    background-image: url();
    background-size: contain;
    background-attachment: fixed;
    display: flex;
    justify-items: center;
    justify-content: center;
    padding-top: 20px;
    height: 33%;
    width: 35%;
}