<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header-footer.css">
    <link rel="stylesheet" href="/css/about.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&display=swap" rel="stylesheet">
    <title>Quines somos</title>
</head>

<body>
    <%- include('./partials/header.ejs'); -%>
        </header>
        <main>
            <div class="background">
                
                <div class="container">
                  <div class="screen">
                    <div class="screen-header">
                      <div class="screen-header-left">
                        
                      </div>
                      
                    </div>
                    <div class="screen-body">
                      <div class="screen-body-item left">
                        <div class="app-title">
                          <img src="../images/tothestarspana.svg" alt="" width="auto">
                          <span>SOMOS DTECH !</span>
                          <span></span>
                          
                        </div>
                        <div class="app-contact">
                           
                        </div>
                      </div>
                      <div class="screen-body-item">
                        <div class="app-form">
                          <div class="app-form-group">
                              <div class="app-form-control">
                            Más de 10 años de trayectoria en el rubro y cientos de clientes nos avalan en lo que amamos hacer: crear soluciones tecnológicas que le aporten un valor agregado a las empresas y a las personas, y de esta manera acompañarlas en el camino de la evolución digital.

                            
                                
                                
                                
                                </div>
                          </div>
                          <div class="app-form-group">
                           
                            
                          </div>
                          <div class="app-form-group">
                            
                          </div>
                          <div class="app-form-group message">
                           
                          </div>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="credits">
                    desarrolado por <strong>DTECH</strong> 
                    
                    
                    </a>
                  </div>
                </div>
              </div>
              
        </main>
        <footer>
            <%- include('./partials/footer.ejs'); -%>
        </footer>
</body>

</html>










</body>

</html>