<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header-footer.css">
    <link rel="stylesheet" href="/css/contacto.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&display=swap" rel="stylesheet">
    <title>Contacto</title>
</head>
<body>
    <%- include('./partials/header.ejs'); -%>
        </header>
        <main>
            <div class="subtitulo-productos">
                <h1>CONTACTANOS</h1>
                </div>
                
            <div class="background">
                <div class="container">
                  <div class="screen">
                    
                    <div class="screen-body">
                      <div class="screen-body-item left">
                        <div class="app-title">
                          <span>DEJANOS TU</span>
                          <span>MENSAJE</span>
                        </div>
                       
                      </div>
                      <div class="screen-body-item">
                        <form action="">
                        <div class="app-form">
                          <div class="app-form-group">
                            <input class="app-form-control" placeholder="NOMBRE">
                          </div>
                          <div class="app-form-group">
                            <input class="app-form-control" placeholder="EMAIL">
                          </div>
                          <div class="app-form-group">
                            <input class="app-form-control" placeholder="TELEFONO">
                          </div>
                          <div class="app-form-group message">
                            <input class="app-form-control" placeholder="MENSAJE">
                          </div>
                          <div class="app-form-group buttons">
                            <input class="app-form-button">
                            <button class="app-form-button" type="submit"> ENVIAR</button></input>
                            <input class="app-form-button"></input>
                          </div>
                        </div>
                    </form>
                      </div>
                    </div>
                  </div>
                
                </div>
              </div>
        </main>
        <footer>
            <%- include('./partials/footer.ejs'); -%>
        </footer>
</body>
</html>










</body>

</html>