<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header-footer.css">
    <link rel="stylesheet" href="/css/contacto.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&display=swap" rel="stylesheet">
    <title>Contacto</title>
</head>

<body>
    <%- include('./partials/header.ejs'); -%>
        </header>
        <main>
            <div class="background">
                
                <div class="container">
                  <div class="screen">
                    <div class="screen-header">
                      <div class="screen-header-left">
                        
                      </div>
                      
                    </div>
                    <div class="screen-body">
                      <div class="screen-body-item left">
                        <div class="app-title">
                          <span>CONTACTO</span>
                          <span></span>
                        </div>
                        <div class="app-contact">ATENCION COMERCIAL : +54 0800 999 999</div>
                      </div>
                      <div class="screen-body-item">
                        <form action="/contacto" method="POST">
                        <div class="app-form">
                          <div class="app-form-group">
                            <input class="app-form-control" name="name" id="name" placeholder="NOMBRE">
                          </div>
                          <div class="app-form-group">
                            <input class="app-form-control" name="email" id="email" placeholder="EMAIL">
                          </div>
                          <div class="app-form-group">
                            <input class="app-form-control" name="subject" id="subject" placeholder="ASUNTO">
                          </div>
                          <div class="app-form-group message">
                            <input class="app-form-control" name="message" id="message" placeholder="MENSAJE">
                          </div>
                          <div class="app-form-group buttons">
                            
                            <button class="app-form-button">ENVIAR</button>
                          </div>
                        </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="credits">
                    desarrolado por <strong>  DTECH </strong>    
                    
                    
                    </a>
                  </div>
                </div>
              </div>
              
        </main>
        <footer>
            <%- include('./partials/footer.ejs'); -%>
        </footer>
</body>

</html>










</body>

</html>