<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header-footer.css">
    <link rel="stylesheet" href="/css/cookies.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&display=swap" rel="stylesheet">
    <title>Politica de Cookies</title>
</head>

<body>
    <%- include('./partials/header.ejs'); -%>
        </header>
        <main>
            <div class="background">
               
                    <div class="container">
                        <div class="screen">

                            <div class="screen-body">
                                <div class="screen-body-item left">
                                    <div class="app-title">
                                        <span>POLITICA DE COOKIES</span>
                                    </div>

                                </div>
                                <div class="screen-body-item">
                                    
                                        <div class="app-form">
                                            <div class="app-form-group">
                                                <p>Empleamos el uso de cookies. Al utilizar el sitio web de <strong>DTECH</strong>, usted acepta el uso de     cookies de acuerdo con la política de privacidad de <strong>DTECH</strong>. La mayoría de los modernos sitios web interactivos de hoy en día usan cookies para permitirnos recuperar los detalles del usuario para cada visita.</p>

                                                <p>Las cookies se utilizan en algunas áreas de nuestro sitio para habilitar la funcionalidad de esta área y la facilidad de uso para las personas que lo visitan. Algunos de nuestros socios afiliados/publicitarios también pueden usar cookies.</p>
                                                                                  
                                                <p>A menos que se indique lo contrario, <strong>DTECH</strong> y/o sus licenciatarios les pertenecen los derechos de propiedad intelectual de todo el material en <strong>DTECH</strong>.</p>
                                                
                                                <p>Todos los derechos de propiedad intelectual están reservados. Puedes ver y/o imprimir páginas desde <strong>WWW:DTECH.COM.AR</strong> para tu uso personal sujeto a las restricciones establecidas en estos términos y condiciones.</p>
                                                
                                                <p>No debes:</p>
                                                
                                                <p>Volver a publicar material desde <strong>WWW.DTECH.COM.AR</strong>. <br>
                                                Vender, alquilar u otorgar una sub-licencia de material desde <strong>WWW.DTECH.COM.AR</strong>. <br>
                                                Reproducir, duplicar o copiar material desde <strong>WWW.DTECH.COM.AR</strong>. <br>
                                                Redistribuir contenido de <strong>DTECH</strong>, a menos de que el contenido se haga específicamente para la redistribución. </p>
                                            </div>
                                            
                                            
                                        </div>
                                    
                                </div>
                            </div>
                        </div>

                    </div>
            </div>
        </main>
        <footer>
            <%- include('./partials/footer.ejs'); -%>
        </footer>
</body>

</html>










</body>

</html>