<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/header-footer.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/desarrollo.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&display=swap" rel="stylesheet">
    <title>Desarrollos</title>
</head>

<body>
    <%- include('./partials/header.ejs'); -%>

        </header>
        <main>
            <div class="contenedor-titulo-servicios">
                <div class="titulo-servicios">
                    <h2>DISEÑO WEB Y PRODUCTOS DIGITALES</h2>
                </div>
            </div>
            <div class="subtitulo-productos">
            <h1>¡VAMOS A COMENZAR TU PROYECTO!</h1>
            </div>
            <br>
            <br>


            <slider>
                <slide>
                    <p></p>
                </slide>
                <slide>
                    <p></p>
                </slide>
                <slide>
                    <p></p>
                </slide>
                <slide>
                    <p></p>
                </slide>

            </slider>
            
            <div class="contenedor-login">
                <div class="contenido-login">
                    <div class="titulo-login">
                        <h2>¡PARA CONOCER NUETROS PLANES!</h2>
                        
                    </div>
                    <form class="form-login" action="">
                        
                        <br>
                        
                        <div class="contenedor-btn">
                            <input type="submit"  class="boton-estilo" value="HACE CLICK ACA"  onclick="/views/desarrollo"> 
                            
    
                    </form>
                </div>
            </div>
        </main>
        <footer>
            <%- include('./partials/footer.ejs'); -%>
        </footer>
</body>

</html>