<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/header-footer.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;600&family=Varela+Round&display=swap" rel="stylesheet">
    <title>Dtech Solutions</title>
</head>

<body>
    <%- include('./partialls/header.ejs'); -%>

        </header>
        <main>
            <section>
                <div class="contenedor-titulo-desarrollo">
                    <h2>Desarrollos</h2>
            </section>
            <div class="contenedor-desarrollo">
                <section class="desarrollos">
                    <div class="icono-desarrollo">
                        <i class="fas fa-cogs"></i>
                    </div>
                </section>
                <section>
                    <div class="contenedor-ejemplos">
                        <div class="titulo-desarrollo">
                            <h3>Pepsi</h3>
                        </div>
                        <div class="titulo-desarrollo">
                            <h3>Mcdonalds</h3>
                        </div>
                        <div class="titulo-desarrollo">
                            <h3>Loma Negra</h3>
                        </div>
                        <div class="titulo-desarrollo">
                            <h3>Estancia Mendoza</h3>
                        </div>
                </section>
        </main>
        <footer>
            <%- include('./partialls/footer.ejs'); -%>
        </footer>
</body>

</html>