<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs'); -%>

        <title>Dtech </title>
</head>

<body>
    <%- include('./partials/header.ejs'); -%>
        </header>
        <main>
            <section>
                <div class="s-wrap">
                    
                    <div class="s-move">
                        <div class="slide">
                            <h3>LLEVAMOS TU NEGOCIO AL PROXIMO NIVEL</h3>
                        </div>
                        <div class="slide">
                            <h3>POTENCIAMOS TU PROYECTO</h3>
                        </div>
                        <div class="slide">
                            <h3>PISAMOS FUERTE</h3>
                        </div>
                        <div class="slide">
                            <h3>GENERAMOS IMPACTO</h3>
                           
                        </div>
                        
                      
                    </div>
                                    </div>
                
            </section>
            <section class="descripcion-servicios">
                   
                <div class="texto-descripcion-servicios">
                    <h2>NUESTROS SERVICIOS</h2>
                    
                    <p></p>
                </div>
            
              
            
        </section>
            <section>
                <div class="contenedor-titulo-servicios">
                    <div class="titulo-servicios">
                        <h2>DISEÑO WEB Y PRODUCTOS DIGITALES</h2>
                    </div>
                </div>

                
                <br>
                <br>
                <div class="contenedor-servicios">
                    <div class="servicios-home">
                        <div class="titulo-del-servicio">
                            <h3>DISEÑO WEB</h3>
                        </div>
                        <div class="texto-servicios">
                            <div>
                                </i><img src="/images/web1.svg" width="200px">
                            </div>
                            <br>
                            <p>Ideamos webs rápidas, intuitivas, que atraen y retienen potenciales clientes, modernos y profesionales.</p>

                        </div>
                    </div>
                    <div class="servicios-home">
                        <div class="titulo-del-servicio">
                            <h3>DESARROLLO APPS</h3>
                        </div>
                        <div class="texto-servicios">
                            <div>
                                </i><img src="/images/app3.svg" width="200px">
                            </div>
                            <br>
                            <p>Creamos todo tipo de aplicaciones para dispositivos moviles para que complementes tu negocio.</p>

                        </div>
                    </div>
                    <div class="servicios-home">
                        <div class="titulo-del-servicio">
                            <h3>MARKETING DIGITAL</h3>
                        </div>
                        <div class="texto-servicios">
                            <div>
                                </i><img src="/images/social3.svg" width="200px"></div>
                            <br>
                            <p>Potenciamos tus ventas y hacemos crecer tu marca para llegar a los clientes que vos deseas.</p>
                        </div>
                    </div>
                    <div class="servicios-home">
                        <div class="titulo-del-servicio">
                            <h3>SEARCH OPTIMIZATION ENGINE </h3>
                        </div>
                        <div class="texto-servicios">
                            <div>
                                </i><img src="/images/SEO.svg" width="200px"></div>
                            <br>
                            <p>Mejoramos tus rankings para ganar mayor visibilidad de tu marca y mejorar la conversión de las páginas de tu sitio web </p>

                        </div>
                    </div>
                    <div class="servicios-home">
                        <div class="titulo-del-servicio">
                            <h3>HOSTING - CLOUD </h3>
                        </div>
                        <div class="texto-servicios">
                            <div>
                                </i><img src="/images/hosting.svg" width="200px">
                            </div>
                            <br>
                            </i>Te ofrecemos servicio de alojamiento web para tu sitio y en los merjores servidores a los mejores precios del mercado.</i>

                        </div>
                    </div>

                </div>
                
            <br>
            <br>
            <br>
            <br>
            <section class="mision-empresa" id="quienes-somos">
                <div class="texto-mision-empresa">
                    <h1>SOMOS DTECH</h1>
                    <br>
                    <p>Somos DTECH una empresa pionera en el diseño y creación de ecommerce y aplicaciones móviles. Brindamos ayuda tecnológica para distintas empresas logrando mejorar sus servicios, aumentar sus ventas y diferenciarse de la competencia.
                        Desarrollamos sitios modernos, responsive que se adaptan a todos los dispositivos.
                    </p>
                </div>
                </div>
                <div class="imagen-mision-empresa">
                    <img src="images/somos6.svg" alt="" height="" width="400px">
                </div>
            </section>
            
            <section class="descripcion-servicios">
                <div class="imagen-descripcion-servicios">
                    <img src="images/somos5.svg" alt="" width="450px">
                </div>
                <div class="texto-descripcion-servicios">
                    <h2>NUESTRA MISION</h2>
                    <br>
                    <p>SOMOS PROFESIONALES CON MÁS DE 10 AÑOS DE EXPERIENCIA Trabajamos con clientes de todo el mundo, que confían en nosotros para concretar sus proyectos y potenciar sus marcas. Amamos lo que hacemos y se nota en cada proyecto que llevamos
                        a cabo.</p>
                </div>
            </section>
        </main>
        <footer>
            <%- include('./partials/footer.ejs'); -%>
        </footer>
</body>

</html>