<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header-footer.css">
    <link rel="stylesheet" href="/css/privacidad.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&display=swap" rel="stylesheet">
    <title>Politica de Privacidad</title>
</head>

<body>
    <%- include('./partials/header.ejs'); -%>
        </header>
        <main>
            <div class="background">
               
                    <div class="container">
                        <div class="screen">

                            <div class="screen-body">
                                <div class="screen-body-item left">
                                    <div class="app-title">
                                        <span>POLITICA DE PRIVACIDAD</span>
                                    </div>

                                </div>
                                <div class="screen-body-item">
                                    
                                        <div class="app-form">
                                            <div class="app-form-group">
                                                <p>En la medida máxima permitida por la ley aplicable, excluimos todas las representaciones, garantías y condiciones relacionadas con nuestro sitio web y el uso de este sitio web (incluyendo, sin limitación, cualquier garantía implícita por la ley con respecto a la calidad satisfactoria, idoneidad para el propósito y/o el uso de cuidado y habilidad razonables).</p>

                                                <p>Nada en este aviso legal:</p>

                                                <p>Limita o excluye nuestra o su responsabilidad por muerte o lesiones personales resultantes de negligencia.
                                                Limita o excluye nuestra o su responsabilidad por fraude o tergiversación fraudulenta.
                                                Limita cualquiera de nuestras o sus responsabilidades de cualquier manera que no esté permitida por la ley aplicable.</p>
                                                <p>Excluye cualquiera de nuestras o sus responsabilidades que no pueden ser excluidas bajo la ley aplicable.</p>
                                                <p>Las limitaciones y exclusiones de responsabilidad establecidas en esta Sección y en otras partes de este aviso legal:</p>
                                                <p>1. están sujetas al párrafo anterior; y
                                                2. rigen todas las responsabilidades que surjan bajo la exención de responsabilidad o en relación con el objeto de esta exención de responsabilidad, incluidas las responsabilidades que surjan en contrato, agravio (incluyendo negligencia) y por incumplimiento del deber legal.</p>

                                                <p>En la medida en que el sitio web y la información y los servicios en el sitio web se proporcionen de forma gratuita, no seremos responsables de ninguna pérdida o daño de ningún tipo.</p>
                                            </div>
                                            
                                            
                                        </div>
                                    
                                </div>
                            </div>
                        </div>

                    </div>
            </div>
        </main>
        <footer>
            <%- include('./partials/footer.ejs'); -%>
        </footer>
</body>

</html>










</body>

</html>