<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs'); -%>
</head>

<body>
    <%- include('./partials/header.ejs'); -%>

        </header>
        <main>
            <section>
                <div class="contenedor-producto-personalizado">
                    <h3>Arma tu Plan a Medida</h3>
                    <br>
                    <p>En Dtech, te ofrecemos la posibilidad de que armes tu plan a medida de tu necesidad, agregando los servicio y funcionalidades que necesites para desarrollar tu negocio.</p>
                    <div class="contenido-producto-personalizado">
                        <div class="producto-personalizado">
                            <div class="titulo-del-servicio-premium">
                                <h3>Personal Premium Pack</h3>
                            </div>
                            <div class="texto-servicios-premium">
                                <li><i class="fas fa-check"></i>Ecommerce</li>
                                <li><i class="fas fa-check"></i>Ecommerce</li>
                                <li><i class="fas fa-check"></i>Ecommerce</li>
                                <li><i class="fas fa-check"></i>Ecommerce</li>

                            </div>
                        </div>
                        <div class="producto-personalizado-items">

                            <div class="lista-personalizada-items">
                                <li><i class="fas fa-check"></i>Ecommerce</li>
                                <li><i class="fas fa-check"></i>Ecommerce</li>
                                <li><i class="fas fa-check"></i>Ecommerce</li>
                                <li><i class="fas fa-check"></i>Ecommerce</li>
                                <li><i class="fas fa-check"></i>Ecommerce</li>
                                <li><i class="fas fa-check"></i>Ecommerce</li>
                                <li><i class="fas fa-check"></i>Ecommerce</li>
                                <li><i class="fas fa-check"></i>Ecommerce</li>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="contenedor-enlatados">
                    <div class="contenedor-servicios">
                        <div class="servicios">
                            <div class="titulo-del-servicio">
                                <h3>Inicia Pack</h3>
                            </div>
                            <div class="texto-servicios">
                                <li><i class="fas fa-check"></i>Ecommerce</li>
                                <li><i class="fas fa-check"></i>Ecommerce</li>
                                <li><i class="fas fa-check"></i>Ecommerce</li>
                                <li><i class="fas fa-check"></i>Ecommerce</li>
                            </div>
                        </div>
                        <div class="servicios">
                            <div class="titulo-del-servicio">
                                <h3>Avanza Pack </h3>
                            </div>
                            <div class="texto-servicios">
                                <li><i class="fas fa-check"></i>Ecommerce</li>
                                <li><i class="fas fa-check"></i>Ecommerce</li>
                                <li><i class="fas fa-check"></i>Ecommerce</li>
                                <li><i class="fas fa-check"></i>Ecommerce</li>
                            </div>
                        </div>
                        <div class="servicios">
                            <div class="titulo-del-servicio">
                                <h3>Expert Pack</h3>
                            </div>
                            <div class="texto-servicios">
                                <li><i class="fas fa-check"></i>Ecommerce</li>
                                <li><i class="fas fa-check"></i>Ecommerce</li>
                                <li><i class="fas fa-check"></i>Ecommerce</li>
                                <li><i class="fas fa-check"></i>Ecommerce</li>
                            </div>
                        </div>
                    </div>
            </section>
        </main>
        <footer>
            <%- include('./partials/footer.ejs'); -%>
        </footer>
</body>

</html>