<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/header-footer.css">
        <link rel="stylesheet" href="css/productos.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&display=swap" rel="stylesheet">
        <title>Productos</title>
    </head>

<body>
    <%- include('./partials/header.ejs'); -%>

        </header>
        <main>
            <section>
                <div class="titulo-encabezado">
                    <h2>                    </h2>
                </div>
            </section>

            <section>
                <div class="contenedor-titulo-servicios">
                    <div class="titulo-servicios">
                        <h2>LLEVAMOS TU NEGOCIO AL PROXIMO NIVEL</h2>
                    </div>
                </div>
               
                        

                <div class="contenedor-servicios">
                   
                    <div class="servicios">
                        <div class="titulo-del-servicio">
                            <h3>ONE PAGE</h3>
                        </div>
                        <div class="texto-servicios"></div>
                        <div class="precio-servicio">
                            <h2>$4000-</h2>
                           
                        </div>
                        <div class="texto-servicios">
                            <div></i><img src="/images/onepage.svg" width="300px">
                            </div>
                            <br>
                            <li><i class="fas fa-check"></i>Diseño un Solo Cuerpo</li>
                            <li><i class="fas fa-check"></i>Diseño Multiplataforma</li>
                            <li><i class="fas fa-check"></i>Alta en Google</li>
                            
                            <li><i class="fas fa-check"></i>E-mail Directo desde Celulares</li>
                            <li><i class="fas fa-check"></i>Llamadas desde celulares</li>
                            <li><i class="fas fa-check"></i>Integracion con Redes Sociales</li>
                            <li><i class="fas fa-check"></i>Mapa Google</li>
                            <li><i class="fas fa-check"></i>10 Imagenes en Total</li>
                            <br>
                           
                            <div class="contenedor-btn">
                            <input type="submit" class="boton-estilo" value="AGREGAR AL CARRITO">
                            </div>                            
                        </div>
                    </div>
                    <div class="servicios">
                        <div class="titulo-del-servicio">
                            <h3>AUTOADMINISTRABLE</h3>
                        </div>
                        <div class="precio-servicio">
                            <h2>$6000-</h2>
                          
                        </div>
                        <div class="texto-servicios">
                            <div></i><img src="/images/autoadministrable.svg" width="300px">
                            </div>
                            <br>
                            <li><i class="fas fa-check"></i>Panel 100% Autoadministrable</li>
                            <li><i class="fas fa-check"></i>Formulario Contacto</li>
                            <li><i class="fas fa-check"></i>Alta en Google</li>
                            
                            <li><i class="fas fa-check"></i>E-mail Directo desde Celulares</li>
                            <li><i class="fas fa-check"></i>Llamadas desde Celulares</li>
                            <li><i class="fas fa-check"></i>Integracion con Redes Sociales</li>
                            <li><i class="fas fa-check"></i>Mapa Google</li>
                            <li><i class="fas fa-check"></i>10 Imagenes en Total</li>
                            <br>
                            <div class="contenedor-btn">
                            <input type="submit" class="boton-estilo" value="AGREGAR AL CARRITO">
                            </div>    
                            
                        </div>
                    </div>
                    <div class="servicios">
                        <div class="titulo-del-servicio">
                            <h3>TIENDA ONLINE</h3>
                            
                        </div>
                        <div class="precio-servicio">
                            <h2>$8000-</h2>
                        </div>
                        <div class="texto-servicios">
                            <div></i><img src="/images/tienda3.svg" width="300px"></div>
                            <br>
                            <li><i class="fas fa-check"></i>Panel Autoadministrable PLUS</li>
                            <li><i class="fas fa-check"></i>SEO durante 180 Dias</li>
                            <li><i class="fas fa-check"></i>Alta en Google</li>
                            
                            <li><i class="fas fa-check"></i>Sin Gastos ni Comisiones</li>
                            <li><i class="fas fa-check"></i>Integracion Medios de Pago</li>
                            <li><i class="fas fa-check"></i>Integracion con redes Sociales</li>
                            <li><i class="fas fa-check"></i>Mapa Google</li>
                            <li><i class="fas fa-check"></i>Boton de WhatsApp</li>
                            <br>
                            <div class="contenedor-btn">
                            <input type="submit" class="boton-estilo" value="AGREGAR AL CARRITO">
                            </div> 
                        </div>
                    </div>
                    <div class="servicios">
                        <div class="titulo-del-servicio">
                            <h3>APLICACION MOVIL </h3>
                        </div>
                        <div class="precio-servicio">
                            <h2>$4000-</h2>
                        </div>
                        <div class="texto-servicios">
                            <div></i><img src="/images/tienda.svg" width="300px"></div>
                            <br>
                            <li><i class="fas fa-check"></i>Panel Autoadministrable PLUS</li>
                            <li><i class="fas fa-check"></i>Formulario Contacto</li>
                            <li><i class="fas fa-check"></i>Alta en Google</li>
                            
                            <li><i class="fas fa-check"></i>Sin Gaston ni Comisiones</li>
                            <li><i class="fas fa-check"></i>Integracion Medios de Pago</li>
                            <li><i class="fas fa-check"></i>Integracion con redes Sociales</li>
                            <li><i class="fas fa-check"></i>Mapa Google</li>
                            <li><i class="fas fa-check"></i>Boton de WhatsApp</li>
                            <br>
                            <div class="contenedor-btn">
                            <input type="submit" class="boton-estilo" value="AGREGAR AL CARRITO">
                            </div>   
                            
                        </div>
                    </div>
                    <div class="servicios">
                        <div class="titulo-del-servicio">
                            <h3>MARKETING DIGITAL </h3>
                        </div>
                        <div class="precio-servicio">
                            <h2>$4000-</h2>
                        </div>
                        <div class="texto-servicios">
                            <div></i><img src="/images/marketing.svg"width="300px">
                            </div>
                            <br>
                            <li><i class="fas fa-check"></i>Panel Autoadministrable PLUS</li>
                            <li><i class="fas fa-check"></i>Formulario Contacto</li>
                            <li><i class="fas fa-check"></i>Alta en Google</li>
                            
                            <li><i class="fas fa-check"></i>E-mail directo desde celulares</li>
                            <li><i class="fas fa-check"></i>Integracion Medios de Pago</li>
                            <li><i class="fas fa-check"></i>Integracion con redes Sociales</li>
                            <li><i class="fas fa-check"></i>Mapa Google</li>
                            <li><i class="fas fa-check"></i>10 Imagenes en Total</li>
                            <br>
                            <div class="contenedor-btn">
                            <input type="submit" class="boton-estilo" value="AGREGAR AL CARRITO">
                            </div>   
                            
                        </div>
                    </div>
                </div>
                </div>
            </section>


        </main>
        <footer>
            <%- include('./partials/footer.ejs'); -%>
        </footer>
</body>
