<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/header-footer.css">
    <link rel="stylesheet" href="css/producto.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;600&family=Varela+Round&display=swap" rel="stylesheet">
    <title>Productos</title>
</head>

<body>
    <%- include('./partialls/header.ejs'); -%>

        </header>
        <main>
            <section>
                <div class="contenedor-producto-personalizado">
                    <h3>Arma tu Plan a Medida</h3>
                    <br>
                    <p>En Dtech, te ofrecemos la posibilidad de que armes tu plan a medida de tu necesidad, agregando los servicio y funcionalidades que necesites para desarrollar tu negocio.</p>
                    <div class="contenido-producto-personalizado">
                        <div class="producto-personalizado">
                            <div class="titulo-del-servicio-premium">
                                <h3>Personal Premium Pack</h3>
                            </div>
                            <div class="texto-servicios-premium">
                                <li><i class="fas fa-check"></i>Ecommerce</li>
                                <li><i class="fas fa-check"></i>Ecommerce</li>
                                <li><i class="fas fa-check"></i>Ecommerce</li>
                                <li><i class="fas fa-check"></i>Ecommerce</li>

                            </div>
                        </div>
                        <div class="producto-personalizado-items">

                            <div class="lista-personalizada-items">
                                <li><i class="fas fa-check"></i>Ecommerce</li>
                                <li><i class="fas fa-check"></i>Ecommerce</li>
                                <li><i class="fas fa-check"></i>Ecommerce</li>
                                <li><i class="fas fa-check"></i>Ecommerce</li>
                                <li><i class="fas fa-check"></i>Ecommerce</li>
                                <li><i class="fas fa-check"></i>Ecommerce</li>
                                <li><i class="fas fa-check"></i>Ecommerce</li>
                                <li><i class="fas fa-check"></i>Ecommerce</li>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="contenedor-enlatados">
                    <div class="contenedor-servicios">
                        <div class="servicios">
                            <div class="titulo-del-servicio">
                                <h3>Inicia Pack</h3>
                            </div>
                            <div class="texto-servicios">
                                <li><i class="fas fa-check"></i>Ecommerce</li>
                                <li><i class="fas fa-check"></i>Ecommerce</li>
                                <li><i class="fas fa-check"></i>Ecommerce</li>
                                <li><i class="fas fa-check"></i>Ecommerce</li>
                            </div>
                        </div>
                        <div class="servicios">
                            <div class="titulo-del-servicio">
                                <h3>Avanza Pack </h3>
                            </div>
                            <div class="texto-servicios">
                                <li><i class="fas fa-check"></i>Ecommerce</li>
                                <li><i class="fas fa-check"></i>Ecommerce</li>
                                <li><i class="fas fa-check"></i>Ecommerce</li>
                                <li><i class="fas fa-check"></i>Ecommerce</li>
                            </div>
                        </div>
                        <div class="servicios">
                            <div class="titulo-del-servicio">
                                <h3>Expert Pack</h3>
                            </div>
                            <div class="texto-servicios">
                                <li><i class="fas fa-check"></i>Ecommerce</li>
                                <li><i class="fas fa-check"></i>Ecommerce</li>
                                <li><i class="fas fa-check"></i>Ecommerce</li>
                                <li><i class="fas fa-check"></i>Ecommerce</li>
                            </div>
                        </div>
                    </div>
            </section>
        </main>
        <footer>
            <%- include('./partialls/footer.ejs'); -%>
        </footer>
</body>

</html>