<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/header-footer.css">
    <link rel="stylesheet" href="css/producto.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;600&family=Varela+Round&display=swap" rel="stylesheet">
    <title>Productos</title>
</head>

<body>
    <%- include('./partialls/header.ejs'); -%>

        </header>
        <main>
            <section>
                <article>
                    <div class="contenedor-producto1">
                        <h2>Productos</h2>
                        <div class="contenido-producto1">
                            <div class="imagen-prod1">
                                <p>Arma el producto para vos</p>
                            </div>
                            <div class="descripcion-prod1">
                                <ul>
                                    <div>
                                        <li>Seleccionar item</li>
                                    </div>
                                    <div>
                                        <li>Seleccionar item</li>
                                    </div>
                                    <div>
                                        <li>Seleccionar item</li>
                                    </div>
                                    <div>
                                        <li>Seleccionar item</li>
                                    </div>
                                    <div>
                                        <li>Seleccionar item</li>
                                    </div>
                                    <div>
                                        <li>Seleccionar item</li>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="contenedor-otros">
                        <h2>Planes armados para vos</h2>
                        <div class="contenido-productos">
                            <div class="productos">
                                <div class="titulo-del-producto">
                                    <h3>Producto 1</h3>
                                </div>
                                <div class="texto-producto">
                                    <li><i class="fas fa-check"></i>Ecommerce</li>
                                    <li><i class="fas fa-check"></i>Ecommerce</li>
                                    <li><i class="fas fa-check"></i>Ecommerce</li>
                                    <li><i class="fas fa-check"></i>Ecommerce</li>
                                </div>
                            </div>
                            <div class="productos">
                                <div class="titulo-del-producto">
                                    <h3>Producto 2</h3>
                                </div>
                                <div class="texto-producto">
                                    <li><i class="fas fa-check"></i>Ecommerce</li>
                                    <li><i class="fas fa-check"></i>Ecommerce</li>
                                    <li><i class="fas fa-check"></i>Ecommerce</li>
                                    <li><i class="fas fa-check"></i>Ecommerce</li>
                                </div>
                            </div>
                            <div class="productos">
                                <div class="titulo-del-producto">
                                    <h3>Producto 3</h3>
                                </div>
                                <div class="texto-producto">
                                    <li><i class="fas fa-check"></i>Ecommerce</li>
                                    <li><i class="fas fa-check"></i>Ecommerce</li>
                                    <li><i class="fas fa-check"></i>Ecommerce</li>
                                    <li><i class="fas fa-check"></i>Ecommerce</li>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </section>
        </main>
        <footer>
            <%- include('./partialls/footer.ejs'); -%>
        </footer>
</body>

</html>