<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/header-footer.css">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;600&family=Varela+Round&display=swap" rel="stylesheet">
    <title>Registro</title>
</head>

<body>
    <%- include('./partials/header.ejs'); -%>

        </header>

        <div class="imagen-fondo-login">
            <div class="contenedor-login">
                <div class="contenido-login">
                    <div class="titulo-login">
                        <h2>Olvide mi contrase침a</h2>
                        <p>Si olvidaste tu contrase침a, por favor completa los siguientes campos.</p>
                    </div>

                    <form action="" class="form-login">
                        <div class="etiquetas-form">
                            <label>Usuario:</label>
                            <input type="text" name="nombre" class="campos-form" placeholder="Ingres치 tu nombre de usuario" required/>
                        </div>
                        <br>
                        <div class="etiquetas-form">
                            <label>Mail:</label>
                            <input type="email" id="user-email" class="campos-form" placeholder=" Ingres치 tu mail" required/>
                        </div>
                        <br>
                        <br>
                        <div class="contenedor-btn">
                            <input type="submit" class="boton-estilo" value="Acceder">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        </main>
        <footer>
            <%- include('./partials/footer.ejs'); -%>
        </footer>
</body>

</html>