* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.contenedor-titulo-desarrollo {
    background-color: #2c2c2c;
    height: 100px;
    margin-bottom: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-desarrollo {
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 15px;
    width: 100%;
    display: flex;
    align-content: center;
}

.contenedor-desarrollo {
    display: flex;
    justify-content: center;
    height: 200px;
    margin: auto;
    text-align: center;
}

.desarrollos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.icono-desarrollo {
    background-color: grey;
    border-radius: 50px;
    border: solid 1px grey;
    height: 70px;
    width: 70px;
}

.fa-cogs {
    color: #fff;
    font-size: 30px;
    text-align: center;
}

.contenedor-ejemplos {
    width: 50%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}