* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

a {
    color: #fff;
    text-decoration: none;
}


.contenedor-login {
    background-image: url(/images/backgorund-login.jpg);
    /*background-size: cover;*/
    background-attachment: fixed;
    display: flex;
    justify-items: center;
    justify-content: center;
    padding-top: 90px;
    padding-bottom: 120px;
    height: 100%;
    width: 100%;
}



.contenido-login {
    background-color: #c73333de;
    width: 500px;
    height: 150px;
    margin: 0px;
    border: solid 1px #c7333354;
    border-radius: 25px;
    margin-bottom: 50px;
    z-index: 1;
}

.titulo-login {
    color: #ffffff;
    text-align: center;
    margin-top: 10px;
}

.titulo-login p {
    color: #ffffff;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-login {
    margin-left: 15px;
}

.etiquetas-form {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    width: 80%;
}

.campos-form {
    border: solid 1px #ffffff54;
    color: #FFF;
    font-size: 10px;
    border-radius: 20px;
    width: 140px;
    height: 30px;
    margin-left: 10px;
    margin-top: 5px;
    text-align: center;;
}

.contenedor-btn {
    display: flex;
    justify-content: center;
}

.boton-estilo {
    background-color: #929292;
    color: #fff;
    border: 0px;
    height: 50px;
    border-radius: 20px;
    width: 40%;
    font-size: 12px;
    
}

.boton-estilo:hover {
    background-color: #202020;
    color: #fff;
}

@media(min-width:700px) {
    

    .subtitulo-productos {
        width: 30%;
        height: 50px;
        background-color: #2c2c2c;
        color: #fff;
        margin-right: 50%;
}
    .subtitulo-productos h1 {
        font-size:40px;
        font-style: italic;
 


}
.titulo-servicios h2 {
    color: white;
    background-color: #2c2c2c;
    font-size: 20 px;
    text-align: center;
    padding: 15px;
    width: 100%;
}
.contenedor-titulo-servicios {
    background-color: #2c2c2c;
    height: 60px;
    margin-bottom: 30px;
}

html,
    body {
        width: 100%;
        height: 100vh;
        padding: 0;
        margin: 0px;
    }
    
    slider {
        display: block;
        width: 100%;
        height: 55vh;
        overflow: hidden;
        position: relative;
    }
    
    slider>* {
        position: absolute;
        display: block;
        width: 100%;
        height: 55vh;
        background: grey;
        animation: slide 12s infinite;
        overflow: hidden;
    }
    
    slide:nth-child(1) {
        left: 0%;
        animation-delay: -1s;
        background-image: url(../images/img11.png);
        background-size: cover;
        background-position: center;
    }
    
    slide:nth-child(2) {
        animation-delay: 2s;
        background-image: url(../images/img11.png);
        background-size: cover;
        background-position: center;
    }
    
    slide:nth-child(3) {
        animation-delay: 5s;
        background-image: url(../images/img10.png);
        background-size: cover;
        background-position: center;
    }
    
    slide:nth-child(4) {
        left: 0%;
        animation-delay: 8s;
        background-image: url(../images/img10.png);
        background-size: cover;
        background-position: center;
    }
    
    slide p {
        font-size: 30px;
        text-align: center;
        display: inline-block;
        width: 100%;
        margin-top: 200px;
        color:blacwhite;
    }
    
    @keyframes slide {
        0% {
            left: 100%;
            width: 100%;
        }
        5% {
            left: 0%;
        }
        25% {
            left: 0%;
        }
        30% {
            left: -100%;
            width: 100%;
        }
        30.0001% {
            left: -100%;
            width: 0%;
        }
        100% {
            left: 100%;
            width: 0%;
        }
    }}