* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

body {
    font-family: 'Oswald', sans-serif;
    background-color: white;
    width: 100%;
}

html {
    scroll-behavior: smooth;
}


/*Seccion pre header & header*/

.header-top {
    background-color: #A4161A;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.texto-header-top {
    padding: 12px 30px;
    color: white;
    font-size: 13px;
}

.icono-carrito {
    width: 7%;
}

.fa-shopping-cart {
    color: white;
    font-size: 20px;
}

.fa-shopping-bag:hover {
    color: #490101;
    font-size: 20px;
}

.contenedor-header {
    background-color: #ffffff;
}


/**/

header img {
    width: 250px;
}

menu {
    display: flex;
    justify-content: space-between;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#btn-menu {
    display: none;
}

header label {
    display: none;
    width: 100%;
    text-align: right;
    padding: 10px;
    color: rgb(0, 0, 0);
    font-size: 30px;
    transition: all 700ms ease;
}

header label:hover {
    text-align: right;
}

.menu ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
}

.menu li a {
    text-decoration: none;
    color: black;
    display: flex;
    padding: 15px 20px;
    height: 90px;
    align-items: center;
    text-transform: uppercase;
}

.menu li a:hover {
    background-color: #A4161A;
    color: rgb(255, 255, 255);
    transition: all 0.6s ease;
}

.menu-user li {
    text-decoration: none;
    color: black;
    display: block;
    padding: 15px 20px;
    transition: all 50ms ease;
}

.submenu {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 130%;
    display: none;
}

.submenu li {
    display: block;
    align-items: center;
    display: none;
}

.fa-user-circle {
    display: flex;
    margin-left: 5px;
    font-size: 25px;
}

.imagen-perfil-user {
    border: whitesmoke solid 3px;
    background-color: white;
    height: 70px;
    -moz-border-radius: 75px;
    -webkit-border-radius: 75px;
    width: 70px;
    display: none;
}

.imagen-perfil-user img {
    border: whitesmoke solid 3px;
    background-color: white;
    height: 140px;
    -moz-border-radius: 75px;
    -webkit-border-radius: 75px;
    width: 140px;
    display: none;
}

.imagen-perfil img {
    border: whitesmoke solid 3px;
    background-color: white;
    height: 140px;
    -moz-border-radius: 75px;
    -webkit-border-radius: 75px;
    width: 140px;
}

@media(max-width:900px) {
    header label {
        width: 100%;
        display: block;
        text-align: right;
        z-index: 100;
    }
    header label:hover {
        display: block;
        text-align: right;
    }
    .menu {
        position: absolute;
        background-color: rgb(90, 90, 90);
        width: 100%;
        margin-top: -200%;
        transition: all 500ms ease;
    }
    .menu ul {
        flex-direction: column;
        border-top: solid 1px rgb(0, 0, 0);
        color: white;
        z-index: 100;
    }
    .menu li a {
        background-color: rgb(90, 90, 90);
        color: white;
    }
    #btn-menu:checked~.menu {
        margin: 0;
        text-align: center;
        margin-top: 350px;
        z-index: 100;
    }
}

@media(max-width:500px) {
    #btn-menu:checked~.menu {
        margin: 0;
        text-align: center;
        margin-top: 100%;
    }
}


/*footer*/

.contenedor-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    background-color: #141010;
    height: 300px;
}

.footer-logo {
    display: flex;
    align-items: center;
}

.footer-logo {
    display: flex;
    align-items: center;
    justify-items: center;
    margin-left: 10px;
    width: 150px;
    height: 150px;
}

.copyright {
    display: flex;
    justify-content: center;
    background-color: #141010;
    font-size: 12px;
    line-height: .8;
    color: #aaa;
    text-transform: uppercase;
    padding: 41px 0;
    margin: 0px;
    border-top: solid 1px;
    text-align: center;
    height: 1px;
    padding-left: 20px;
    width: 100%;
}

.extra ul {
    list-style: none;
    color: #aaa;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    margin: 0px;
    width: 100%;
}

.extra li a {
    justify-content: space-around;
    text-decoration: none;
    color: #aaa;
    padding: 15px 20px;
    text-align: center;
    display: table-cell;
    font-size: 13px;
    margin-left: 10px;
    margin-right: 10px;
}

@media(min-width:768px) {
    .footer-logo {
        margin-left: 30px;
    }
    .contenedor-footer {
        flex-direction: row;
        justify-content: space-between;
        height: 150px;
    }
    .extra ul {
        flex-direction: row;
        justify-content: space-around;
        margin: 0px;
        padding: 0px 0;
        margin-left: 0px;
        width: 100%;
    }
    .extra li a {
        color: #aaa;
        padding: 15px 20px;
        font-size: 18px;
        text-align: center;
        text-align: center;
    }
    .copyright {
        padding: 20px 15px;
        justify-content: center;
        font-size: 15px;
        padding-left: 50px;
    }
    .iconos-footer {
        width: none;
        margin-right: 35px;
    }
}

.iconos-footer {
    width: none;
}

.iconos-footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.fa-facebook,
.fa-instagram,
.fa-twitter {
    color: white;
    font-size: 30px;
    padding: 7px;
    text-decoration: none;
}

.fa-facebook:hover,
.fa-instagram:hover,
.fa-twitter:hover {
    color: #b93232;
    font-size: 30px;
    padding: 7px;
    text-decoration: none;
}