    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    body {
        font-family: 'Comfortaa', cursive;
        background-color: white;
        width: 100%;
    }
    
    html {
        scroll-behavior: smooth;
    }
    /*Seccion pre header & header*/
    
    .header-top {
        background-color: #c73333;
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .texto-header-top {
        padding: 12px 30px;
        color: white;
        font-size: 12px;
    }
    
    .icono-carrito {
        width: 7%;
    }
    
    .fa-shopping-bag {
        color: white;
        font-size: 20px;
    }
    
    .fa-shopping-bag:hover {
        color: #490101;
        font-size: 20px;
    }
    
    .contenedor-header {
        background-color: #ffffff;
    }
    /**/
    
    header img {
        width: 250px;
    }
    
    menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 5px;
    }
    
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    #btn-menu {
        display: none;
    }
    
    header label {
        display: none;
        width: 100%;
        text-align: right;
        color: rgb(0, 0, 0);
        font-size: 30px;
        transition: all 700ms ease;
    }
    
    header label:hover {
        text-align: right;
    }
    
    .menu ul {
        margin: 0;
        list-style: none;
        padding: 0;
        display: flex;
    }
    
    .menu li a {
        text-decoration: none;
        color: black;
        display: block;
        padding: 15px 20px;
        transition: all 50ms ease;
    }
    
    .menu li a:hover {
        background-color: rgba(39, 39, 39, 0.37);
    }
    
    @media(max-width:900px) {
        header label {
            width: 100%;
            display: block;
            text-align: right;
            z-index: 100;
        }
        header label:hover {
            display: block;
            text-align: right;
        }
        .menu {
            position: absolute;
            background-color: rgb(90, 90, 90);
            width: 100%;
            margin-top: -200%;
            transition: all 500ms ease;
        }
        .menu ul {
            flex-direction: column;
            border-top: solid 1px rgb(0, 0, 0);
            color: white;
            z-index: 100;
        }
        .menu li a {
            background-color: rgb(90, 90, 90);
            color: white;
        }
        #btn-menu:checked~.menu {
            margin: 0;
            text-align: center;
            margin-top: 350px;
            z-index: 100;
        }
    }
    
    @media(max-width:500px) {
        #btn-menu:checked~.menu {
            margin: 0;
            text-align: center;
            margin-top: 100%;
        }
    }
    /*
.menu-principal {}

nav {
    text-decoration: none;
    color: #3f3e3e;
    font-size: 18px;
    font-family: 'Varela Round', sans-serif;
    width: 70%;
    text-align: right;
    margin-right: 30px;
}

nav>a {
    text-decoration: none;
    color: #3f3e3e;
    margin-left: 20px;
}

nav>:hover {
    text-decoration: underline;
    color: #c73333;
}

.logo {
    width: 80%;
}

.logo img {
    width: 250px;
}

@media(min-width:900px) {
    nav {
        font-size: 18px;
        font-family: 'Varela Round', sans-serif;
        width: 70%;
        text-align: right;
    }
    .menu-principal {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media(min-width:380px) {
    .logo {
        width: 30%;
    }
    .logo img {
        width: 320px;
    }
}
*/
<<<<<<< HEAD
    /*footer*/
=======


/*footer*/

.contenedor-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    background-color: #141010;
    height: 300px;
>>>>>>> 8b4a2790c4b0f3608eb610f41e34492ee1eb18f3
    
    .contenedor-footer {
        background-color: #141010;
        height: 220px;
    }
    /*.footer-logo {
    display: flex;
    align-items: center;
}
*/
    
    .footer-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    
    .copyright {
        text-align: center;
        background-color: #141010;
        font-size: 10px;
        line-height: .8;
        color: #aaa;
        text-transform: uppercase;
        padding-top: 10px;
        height: 30px;
    }
    
    .extra {
        align-items: center;
    }
    
    .extra ul {
        list-style: none;
        color: #aaa;
        display: flex;
        justify-content: center;
        text-align: center;
        width: 100%;
        margin-top: 30px;
    }
    
    .extra li a {
        justify-content: center;
        text-decoration: none;
        color: #aaa;
        font-size: 12px;
        text-align: center;
        width: 100%;
    }
    
    .extra li a:hover {
        color: #D60B51;
        text-align: center;
    }
    
    .iconos-footer {
        width: 100%;
        margin-top: 30px;
    }
    
    .iconos-footer ul {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    .fa-facebook,
    .fa-instagram,
    .fa-twitter {
        color: white;
        font-size: 30px;
        padding: 7px;
        text-decoration: none;
    }
    
<<<<<<< HEAD
    .fa-facebook:hover,
    .fa-instagram:hover,
    .fa-twitter:hover {
        color: #b93232;
        font-size: 30px;
        text-decoration: none;
    }
    
    @media(min-width:480px) {
        .contenedor-footer {
            display: flex;
            justify-content: space-between;
            height: 150px;
        }
        .contenedor-footer img {
            width: 100px;
        }
        .footer-logo {
            margin-left: 10px;
            width: 25%;
        }
        .iconos-footer {
            width: 15%;
            margin-top: 30px;
        }
        .iconos-footer ul {
            width: 15%;
        }
        .iconos-footer ul {
            display: block;
            width: 25%;
            text-align: center;
        }
        .fa-facebook,
        .fa-instagram,
        .fa-twitter {
            text-align: center;
        }
        .extra ul {
            display: block;
            text-align: left;
            margin-top: 40px;
        }
        .extra li a {
            margin-top: 70px;
        }
        .extra a {
            margin-bottom: 20px;
        }
    }
    
    @media(min-width:768px) {
        .contenedor-footer {
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 80px;
        }
        .contenedor-footer img {
            width: 150px;
        }
        .footer-logo {
            width: 20%;
        }
        .iconos-footer ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 0;
        }
        .extra ul {
            display: flex;
            justify-content: space-between;
        }
        .extra li a {
            margin: 20px;
        }
    }
=======
    color: #aaa;
    padding: 15px 20px;
    font-size: 14px;
    text-align: center;
    text-align: center;
    
    
}

.copyright {
    padding: 15px 15px ;
    
}



}










.iconos-footer {
    width: 20%;
    margin-bottom: 10px;
}

.iconos-footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.fa-facebook,
.fa-instagram,
.fa-twitter {
    color: white;
    font-size: 30px;
    padding: 7px;
    text-decoration: none;
}

.fa-facebook:hover,
.fa-instagram:hover,
.fa-twitter:hover {
    color: #b93232;
    font-size: 30px;
    text-decoration: none;
}
>>>>>>> 8b4a2790c4b0f3608eb610f41e34492ee1eb18f3
