* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

.subtitulo-productos h1 {
    font-size: 40px;
    font-style: italic;
    text-align: left;
    margin-left: 3%;
}

.subtitulo-productos {
    width: 80%;
    height: 50px;
    background-color: #2c2c2c;
    color: #fff;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-image: url(/images/backgorund-login.jpg);
}

button,
input {
    
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    letter-spacing: 1.4px;
}

.background {
    min-height: 110vh;
   
}

.container {
    flex: 0 1 500px;
    margin: auto;
    padding: 10px;
}

.screen {
    position: relative;
    background: #3e3e3e;
    border-radius: 15px;
    top: 30px;
    left: 13%;
}

.screen:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    z-index: -1;
}

.screen-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: #4d4d4f;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.screen-header-left {
    margin-right: auto;
}

.screen-header-ellipsis {
    width: 3px;
    height: 3px;
    margin-left: 2px;
    border-radius: 8px;
    background: #999;
}

.screen-body {
    display: flex;
}

.screen-body-item {
    flex: 1;
    padding: 50px;
}

.screen-body-item.left {
    display: flex;
    flex-direction: column;
    height: 620px;
    width: 100%;
}

.screen-body-item.left h2 {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #ffffff;
    font-size: 45px;
    font-style: italic;
    border-bottom: solid 2px;
    width: 70px;
    margin-bottom: 10px;
}



.errores ul {
    list-style: none;
    text-transform: uppercase;
    margin-bottom: 40px
}

.errores {
    color: #ea1d6f; 
}

.errores-container {
    height: 40px;
}

.app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #ffffff;
    font-size: 35px;
    font-style: italic;
}

.app-contact {
    margin-top: auto;
    font-size: 8px;
    color: #888;
}

.app-form {
    display: flex;
    flex-direction: column;
}

.app-form-group {
    margin-bottom: 15px;
}

.app-form-group.message {
    margin-top: 40px;
}

.app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
}

.app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #ddd;
    font-size: 14px;
    outline: none;
    transition: border-color .2s;
}

.app-form-control:focus {
    border-bottom-color: #ddd;
  }

.app-form-control-fail {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #ea1d6f;
    color: #ddd;
    font-size: 14px;
    outline: none;
    transition: border-color .2s;
}

.app-form-control-correct {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid green;
    color: #ddd;
    font-size: 14px;
    outline: none;
    transition: border-color .2s;
}

.etiqueta-permanecer {
    color: #ea1d6f;
    margin-top: 20px;
}

.etiqueta-permanecer label {
    color: #ddd;
    margin-left: 5px;
    text-transform: uppercase;
    font-size: 14px;
}

.app-form-button {
    background: none;
    border: none;
    color: #ea1d6f;
    font-size: 20px;
    cursor: pointer;
    outline: none;
}

.app-form-button:hover {
    color: #b9134f;
}

.recupero a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

.recupero a:hover {
    color: #b9134f;
    text-decoration: none;
}

@media screen and (min-width: 320px) {
    .background {
        height: 760px;
    }
    .screen-body {
        flex-direction: column;
    }
    .screen-body-item.left {
        margin-bottom: 30px;
    }
    .app-title {
        flex-direction: row;
    }
    .app-title span {
        margin-right: 12px;
    }
    .app-title:after {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .screen-body {
        padding: 40px;
    }
    .screen-body-item {
        padding: 0;
    }
}


@media screen and (min-width: 1024px) {
    .screen {
        position: relative;
        background: #3e3e3e;
        border-radius: 15px;
        top: 10px;
        left: 50%;
        width: 400px;
        height: 700px;
    }
    .background {
        min-height: 100vh;
    }
    .errores ul {
        list-style: none;
        text-transform: uppercase;
        margin-bottom: 100px
    }
    .container-errores {
        height: 100px;

    }
    .screen-body {
        display: flex;
        
    }
}