* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

.subtitulo-productos h1 {
    font-size: 40px;
    font-style: italic;
    padding-left: 40px;
}

.subtitulo-productos {
    width: 80%;
    height: 50px;
    background-color: #2c2c2c;
    color: #fff;
    margin-right: 50%;
}

.subtitulo-productos-2 {
    width: 80%;
    height: 50px;
    background-color: #2c2c2c;
    color: #fff;
    margin-right: 50%;
    margin-top: 80px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button,
input {
    font-weight: 700;
    letter-spacing: 1.4px;
}

body {
    background-image: url(/images/backgorund-login.jpg);
}

.background {
    display: flex;
    height: auto;
    
}

.container {
    flex: 0 1 700px;
    margin: auto;
    padding: 10px;
}

.screen {
    position: relative;
    background: #3e3e3e;
    border-radius: 15px;
    width: 90vw;
    left: 2%
}

.screen-body-item {
    flex: 1;
    padding: 20px;
}

.screen-body-item.left {
    display: flex;
    flex-direction: column;
    width: 85vw;
}

.app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #ea1d6f;
    font-size: 35px;
    font-style: italic;
}

.app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background: #ea1d6f;
}

.app-form-group p {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    color: #ddd;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
}


@media screen and (min-width: 520px) {
    
    .screen {
        position: relative;
        background: #3e3e3e;
        border-radius: 15px;
        width: 90vw;
        left: 5%;
    }
    .screen-body {
        flex-direction: column;
    }
    .screen-body-item.left {
        margin-bottom: 30px;
    }
    .app-title {
        flex-direction: row;
    }
    .app-title span {
        margin-right: 12px;
    }
    .app-title:after {
        display: none;
    }
}

@media screen and (min-width: 600px) {
    .subtitulo-productos-2 {
        margin-top: 30px;
    }
    .screen-body {
        padding: 40px;
    }
    .screen-body-item {
        padding: 0;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 400px;
        
    }
    .screen {
        background: #3e3e3e;
        border-radius: 15px; 
        width: 60vw;
        left: 0%;
        
    }
    .screen-body {
        padding: 40px;
        width: auto;
        height: 656px;
        
    }
    .background {
        min-height: 90vh;
    }

}