* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    
}

a {
    color: #fff;
    text-decoration: none;
}






select {
    
    padding: 18px 22px;
    border: none;
    border-radius: 20px;
    color: #202020;
    background-color: #ffffff54 ;  
    width: 65%;
    height: 30px;
    margin-left: 10px;
    margin-top: 5px;
}

.contenedor-login {
    background-image: url(/images/backgorund-login.jpg);
    /*background-size: cover;*/
    background-attachment: fixed;
    display: block;
    justify-items: center;
    justify-content: center;
    padding-top: 123px;
    padding-bottom: 120px;
    height: 100%;
    width: 100%;
}

.contenido-login1 {
    background-color: #202020;
    width: 500px;
    height: 50px;
    margin: 20px;
    border: solid 1px #c7333354;
    border-radius: 20px;
    margin-bottom: 50px;
    z-index: 1;
}

.contenido-login4 {
    background-color: #c73333de;
    width: 500px;
    height: 250px;
    margin: 20px;
    border: solid 1px #c7333354;
    border-radius: 25px;
    margin-bottom: 50px;
    z-index: 1;
}


.contenido-login {
    background-color:#c73333de;
    width: 500px;
    height: 400px;
    margin: 20px;
    border: solid 1px #c7333354;
    border-radius: 25px;
    margin-bottom: 50px;
    z-index: 1;
}

.titulo-login {
    color: #ffffff;
    text-align: center;
    margin-top: 10px;
}

.titulo-login p {
    color: #ffffff;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-login {
    margin-left: 15px;
}

.etiquetas-form {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    width: 80%;
}

.campos-form {
    border: solid 1px #ffffff54;
    color: #FFF;
    font-size: 10px;
    border-radius: 20px;
    width: 65%;
    height: 30px;
    margin-left: 10px;
    margin-top: 5px;
    text-align: center;
    
}


.contenedor-btn {
    display: flex;
    justify-content: center;
}

.boton-estilo {
    background-color: #929292;
    color: #fff;
    border: 0;
    height: 35px;
    border-radius: 20px;
    width: 25%;
    ;
}

.boton-estilo:hover {
    background-color: #202020;
    color: #fff;
}

@media(min-width:430px) {
    .campos-form {
        width: 220px;
        font-size: 14px;
    }
    .etiquetas-form {
        font-size: 16px;
    }
    .contenedor-login {
        display: flex;
        
    }
    .contenedor-login1 {
        display: flex;
        
        

    }
    .titulo-login h4 {
        text-align: justify;
        
    }

    .subtitulo-productos {
        width: 30%;
        height: 50px;
        background-color: #2c2c2c;
        color: #fff;
        margin-right: 50%;
}
    .subtitulo-productos h1 {
        font-size:40px;
        font-style: italic;
        padding-left: 40px;
}
}
