<div class="header-top">
    <div class="texto-header-top">
        <p>Atención Comercial: 0800-999-9999 </p>
    </div>
    <div class="icono-carrito">
        <a href="/carrito.html"> <i class="fas fa-shopping-bag" alt="Mis Compras"></i></a>
    </div>
</div>
<header>

    <a href="/"> <img width="80px" height="80px" src="images/logo.svg"></a>
    <input type="checkbox" id="btn-menu" />

    <label for="btn-menu" class="icono-menu"><i class="fas fa-bars"></i></label>
    <nav class="menu">
        <ul>
            <li><a href="#">Quienes Somos</a></li>
            <li><a href="producto.html">Planes</a></li>
            <li><a href="desarrollo.html">Desarrollos</a></li>
            <li><a href="contacto.html">Contacto</a></li>
            <li><a href="login.html">Login</a></li>
        </ul>

    </nav>