<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
</head>

<body>
    <header>

        <nav>
            <div class="logo">
                <img width="320" src="images/dtech4.png" href="./home.html">
            </div>
            <a href="#">Quienes Somos</a>
            <a href="#">Planes</a>
            <a href="#">Desarrollos</a>
            <a href="contacto.html">Contacto</a>
            <br>
            <br>
            <a href="login.html">Login</a>
            <i class="fas fa-search"></i>

        </nav>
        <div class="imagen-contacto">
            Aca va la imagen de la seccion contacto
        </div>
    </header>
    <main>
        <div class="contenedor-contacto">
            <div class="titulo-contacto">
                <h2>Contactanos</h2>
                <p>Si querés ponerte en contacto con nosotros, por favor completa el siguiente formulario y un representante comercial se estara comunicando con vos. Muchas gracias</p>
            </div>
        </div>
        <form action="">
            <label>Nombre</label>
            <input type="text" name="nombre" placeholder="e.g. Juan Perez" required/>
            <br>
            <label>Telefono</label>
            <input type="number" name="telefono" placeholder="e.g. Juan Perez" required/>
            <br>
            <label>Mail</label>
            <input type="email" id="user-email" placeholder=" juan@gmail.com" required/>
            <br>
            <label>Describa brevemente el motivo de su consulta</label>
            <input type="text" name="nombre" placeholder="e.g. Juan Perez" required/>
            <br>
            <br>
            <input type="submit" value="Enviar">
        </form>
    </main>
    <footer>
        <div> <img width="320" src="images/dtech4.png"> </div>
        <nav>
            <ul>

                <a href="#">
                    <li>Facebook</li>
                </a>
                <a href="#">
                    <li>Instagram</li>
                </a>
                <a href="#">
                    <li>Twetter</li>
                </a>
            </ul>
        </nav>
        </nav>
    </footer>
</body>

</html>