<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>

<body>
    <nav>
        <div class="logo">
            <img width="320" src="images/dtech4.png" href="./home.html">
        </div>
        <a href="#">Quienes Somos</a>
        <a href="producto.html">Planes</a>
        <a href="#">Desarrollos</a>
        <a href="contacto.html">Contacto</a>
        <br>
        <br>
        <a href="login.html">Login</a>
        <i class="fas fa-search"></i>

    </nav>
    <div class="imagen-contacto">
        Aca va la imagen de la seccion contacto
    </div>
    </header>
    <main>
        <div class="imagen-fondo-registro"><img src="" alt="">
            <div class="contenedor-registro">
                <div class="titulo-registro">
                    <h2>Registrate</h2>
                    <p>Para registrarte por favor completa el siguiente formulario</p>
                </div>
            </div>
            <form action="">
                <label>Usuario</label>
                <input type="text" name="nombre" placeholder="e.g. Juan Perez" required/>
                <br>
                <label>Mail</label>
                <input type="email" id="user-email" placeholder=" juan@gmail.com" required/>
                <br>
                <label for="pwd">Password:</label>
                <input type="password" id="pwd" name="pwd" required/>
                <br>
                <label for="pwd">Repetir Password:</label>
                <input type="password" id="pwd" name="pwd" required/>
                <br>
                <br>
                <input type="submit" value="Registrarse">
            </form>
        </div>
    </main>
    <footer>
        <div> <img width="320" src="images/dtech4.png"> </div>
        <nav>
            <ul>

                <a href="#">
                    <li>Facebook</li>
                </a>
                <a href="#">
                    <li>Instagram</li>
                </a>
                <a href="#">
                    <li>Twetter</li>
                </a>
            </ul>
        </nav>
        </nav>
    </footer>
</body>

</html>