<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header-footer.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&display=swap" rel="stylesheet">
    <title>Login</title>
</head>

<body>
    <%- include('../partials/header.ejs'); -%>
        </header>
        <main>
            <div class="subtitulo-productos">
                <h1>INGRESÁ A TU CUENTA</h1>
                </div>
                <br>
            <div class="contenedor-login">
                <div class="contenido-login">
                    <div class="titulo-login">
                        <h2>Ingresa</h2>
                        <br>
                        <% errors.forEach(error => { %>
                            <p> <%= error.msg %> </p>
                           <% }) %>
                    </div>
                    <form class="form-login" action="/users/login" method="POST">
                        <div class="etiquetas-form">
                            <label>Email:</label>
                            <input type="text" class="campos-form" name="email" placeholder="Escriba su usuario" />
                         
                        </div>
                        <br>
                        <div class="etiquetas-form">
                            <label for="pwd">Password:</label>
                            <input type="password" class="campos-form" id="pwd" name="password" placeholder="Escriba su contraseña"   />
                            
                        </div>

                        <br>
                        <div class="etiqueta-permanecer">
                            <input type="radio" name="permanecer" id="radio-permanecer" value="a" id="a">
                            <label for="a">Permancer conectado</label>
                        </div>
                        <br>
                        <div class="contenedor-btn">
                            <input type="submit" class="boton-estilo" value="Acceder">
                        </div>
                        <br>
                        
                        <a href="./recupero-pass">Olvide mi contraseña</a>
                        <br>
                        <br>
                        <a href="./registro">Registrarme</a>

                    </form>
                </div>
            </div>
        </main>

        <footer>
            <%- include('../partials/footer.ejs'); -%>

        </footer>

</body>

</html>










</body>

</html>