<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/header-footer.css">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&display=swap" rel="stylesheet">
    <title>Registro</title>
</head>

<body>
    <%- include('../partials/header.ejs'); -%>

        </header>

        <div class="contenedor-login">
            <div class="contenido-login-registrate">
                <div class="titulo-login">
                    <h2>Registrate</h2>
                    <br>

                </div>

                <form action="/users/registro" method="POST" class="form-login" enctype="multipart/form-data">
                    <div class="etiquetas-form">
                        <label>Usuario:</label>
                        <input type="text" id="username" name="usuario" class="campos-form" placeholder="Ingresá su usuario" required/>
                    </div>
                    <br>
                    <div class="etiquetas-form">
                        <label class="campos-form-label">Mail:</label>
                        <input type="email" id="user-email" name="email" class="campos-form" placeholder=" Ingresá tu mail" required/>
                    </div>
                    <br>
                    <div class="etiquetas-form">
                        <label class="campos-form-label">Nombre:</label>
                        <input type="text" id="user-name" name="nombre" class="campos-form" placeholder=" Ingresá tu nombre" required/>
                    </div>
                    <br>
                    <div class="etiquetas-form">
                        <label class="campos-form-label">Apellido:</label>
                        <input type="text" id="user-lastname" name="apellido" class="campos-form" placeholder=" Ingresá tu apellido" required/>
                    </div>
                    <br>
                    <div class="etiquetas-form">
                        <label class="campos-form-label">Teléfono:</label>
                        <input type="number" id="user-phone" name="telefono" class="campos-form" placeholder=" Ingresá tu teléfono" required/>
                    </div>
                    <br>
                    <div class="etiquetas-form">
                        <label for="pwd">Password:</label>
                        <input type="password" id="pwd" name="password" class="campos-form" placeholder=" Ingresá tu contraseña" required/>
                    </div>
                    <br>
                    <div class="etiquetas-form">
                        <label for="pwd">Repetir Password:</label>
                        <input type="password" id="pwd" name="password-rpt" class="campos-form" placeholder=" Repetí tu contraseña" required/>
                    </div>
                    <br>
                    <div class="etiquetas-form">
                        <label class="campos-form-label">Imagen:</label>
                        <input type="file" id="user-phone" name="imagen" class="campos-form" placeholder=" Ingresá una imagen" required/>
                    </div>
                    <br>

                    <div class="contenedor-btn">
                        <input type="submit" class="boton-estilo" value="Registrarse">
                    </div>
                    
                </form>
            </div>
        </div>
        </div>
        </main>
        <footer>
            <%- include('../partials/footer.ejs'); -%>
        </footer>
</body>

</html>