<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/header-footer.css">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&display=swap" rel="stylesheet">
    <title>Registro</title>
</head>

<body>
    <div class="header-top">
        <div class="texto-header-top">
            <p>Atención Comercial: 0800-999-9999 </p>
        </div>
        <div class="icono-carrito">
            <a href="/carrito"> <i class="fas fa-shopping-bag" alt="Mis Compras"></i></a>
        </div>
    </div>
    <header>

        <a href="/"> <img width="80px" height="80px" src="../images/logo.svg"></a>
        <input type="checkbox" id="btn-menu" />

        <label for="btn-menu" class="icono-menu"><i class="fas fa-bars"></i></label>
        <nav class="menu">
            <ul>
                <li><a href="#">Quienes Somos</a></li>
                <li><a href="../productos">Planes</a></li>
                <li><a href="../desarrollos">Desarrollos</a></li>
                <li><a href="../contacto">Contacto</a></li>
                <li><a href="../login">Login</a></li>
            </ul>

        </nav>
    </header>

    <div class="contenedor-login">
        <div class="contenido-login">
            <div class="titulo-login">
                <h2>Registrate</h2>
                <br>

            </div>

            <form action="/" method=""class="form-login">
                <div class="etiquetas-form">
                    <label>Usuario:</label>
                    <input type="text" name="nombre" class="campos-form" placeholder="Ingresá su nombre" required/>
                </div>
                <br>
                <div class="etiquetas-form">
                    <label class="campos-form-label">Mail:</label>
                    <input type="email" id="user-email" class="campos-form" placeholder=" Ingresá tu mail" required/>
                </div>
                <br>
                <div class="etiquetas-form">
                    <label for="pwd">Password:</label>
                    <input type="password" id="pwd" class="campos-form" name="pwd" required/>
                </div>
                <br>
                <div class="etiquetas-form">
                    <label for="pwd">Repetir Password:</label>
                    <input type="password" id="pwd" class="campos-form" name="pwd" required/>
                </div>
                <br>

                <div class="contenedor-btn">
                    <input type="submit" class="boton-estilo" value="Registrarse">
                </div>
            </form>
        </div>
    </div>
    </div>
    </main>
    <footer>
        <%- include('../partials/footer.ejs'); -%>
    </footer>
</body>

</html>