<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header-footer.css">

    <link rel="stylesheet" href="/css/product-panelcrud.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&display=swap" rel="stylesheet">
    <title>Panel Producto</title>
</head>

<body>
    <%- include('../partials/header.ejs'); -%>
        </header>
        <div class="subtitulo-productos">
            <h1>Listado de Usuarios</h1>
        </div>
        <ul>
            <% for (let i=0; i< users.length; i++){ %>
                <li>

                    <%=users[i].firstName +" "+ users[i].lastName  %>
                        </a>
                </li>
                <% } %>
        </ul>

        </main>
        <footer>
            <%- include('../partials/footer.ejs'); -%>
        </footer>
</body>

</html>