<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header-footer.css">
    <link rel="stylesheet" href="/css/crud.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&display=swap" rel="stylesheet">
    <title>Panel Producto</title>
</head>

<body>
    <%- include('../partials/header.ejs'); -%>
        </header>

        <div class="subtitulo-productos">
            <h1>PANEL GESTION ADMINISTRADOR</h1>
        </div>
        <br>

        <div class="contenedor-login">
            <div class="contenido-login3">
                <div class="titulo-login">
                    <h2>Editar Producto</h2>
                    <br>
                </div>
                <form action="/product-panel/edit?_method=PATCH" method="POST" class="form-login">
                        <div class="etiquetas-form">
                        <label>Buscar:</label>
                        <select>
                                <option>Producto1</option>
                                <option>Producto2</option>
                                <option>Producto3</option>
                            </select>
                        </div>
                    <br>
                    <div class="etiquetas-form ">
                        <label for="pwd ">ID:</label>
                        <input type="type"  class="campos-form " name="id"/>
                    </div>
                    <br>
                    <div class="etiquetas-form">
                        <label for="pwd">Nombre:</label>
                        <input type="type"  class="campos-form" name="nombre"/>
                    </div>
                    <br>
                    <div class="etiquetas-form">
                        <label class="campos-form-label">Descripcion:</label>
                        <input type="type"  name= "descripcion" class="campos-form"  >
                        </div>
                        <br>
                        <div class="etiquetas-form ">
                            <label for="pwd">Item:</label>
                            <input type="type"  class="campos-form " name="item"/>
                        </div>
                        <br>
                        <div class="etiquetas-form">
                            <label for="categoria">Categoria:</label>
                            <input type="type "  class="campos-form" name="categoria" >
                        </div>
                        <br>
                        <div class="etiquetas-form">
                            <label for="precio ">Precio:</label>
                            <input type="type " class="campos-form" name="precio" required/>
                        </div>
                        <br>
                        <div class="etiquetas-form ">
                            <label for="imegen">Imagen:</label>
                            <input type="file"  class="campos-form" name="imagen"/>
                        </div>
                        <br>
                        <div class="contenedor-btn ">
                            <input type="submit" class="boton-estilo" value="Aceptar">
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <footer>
            <%- include('../partials/footer.ejs'); -%>
        </footer>
</body>

</html>