<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header-footer.css">
    <link rel="stylesheet" href="/css/product-panel.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&display=swap" rel="stylesheet">
    <title>Panel Producto</title>
</head>
<body>
    <%- include('../partials/header.ejs'); -%>
    </header>
    
<div class="subtitulo-productos">
                    <h1>PANEL GESTION ADMINISTRADOR</h1>
                    </div>
                    <br>
                    
        
        

    <div class="contenedor-login">
        
        <div> <h1> BIENVENIDO al panel control de ALTA BAJA y MODIFICACION DE PRODUCTOS</h1>


        </div>
        
        
        
        <nav class="iconos-panel">
            <ul>
                <div class="crear">
                    <a href="../products/product-panel/crear" >
                        <i class="fas fa-plus-circle"></i>
                    </a>
                </div>
                <div class="editar">
                    <a href="../products/product-panel/editar" >
                        <i class="fas fa-pen-square"></i>
                    </a>
                </div>
                <div class="borrar">
                    <a href="../products/product-panel/borrar" >
                        <i class="fas fa-trash"></i>
                    </a>
                </div>
            </ul>
        
        </nav>
    </div>
</div>
    </main>
    <footer>
        <%- include('../partials/footer.ejs'); -%>
    </footer>
</body>
</html>